.custom-select {
  position: relative;
  width: 250px;
  font-family: sans-serif;
}

.selected {
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
  background-color: #f9f9f9;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  display: none;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
}

.option {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.option img {
  width: 100px;
  height: 32px;
  margin-right: 8px;
}

.option:hover {
  background-color: #eee;
}
